html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------@font-face---------------*/
@font-face {
  font-family: Bond4F;
  src: url("../font/bond4f/OTF/Bond4F.otf");
}
@font-face {
	font-family: Bond4F-UltraLight;
	src: url("../font/bond4f/OTF/Bond4F-UltraLight.otf");
}


/* julian*/

body{
  margin-left: 70px;
  margin-right: 70px
}
.font{
  font-family: Bond4F;
}
.bannblue{
  background-color: #234e8b;
	padding: 30px 50px;
}
.intbann{
  color: white;
  font-size: 50px;
  margin-left: 40px
}
#phrase1{
  text-align: right;
	line-height: 0.9em;
}
#phrase2{
	text-align: right;
}
.droite{
  margin-top: 20px;
}
.gauche{
  margin-left: 200px
}
.inscription{
  color:#234e8b;
  float: right;
  border-top: 7px solid #6cbe45;
  border-left: 7px solid #6cbe45;
  font-size: 40px;
  height: 415px;
  width:46%
}
.images{
	float: right;
}
.img1{
	padding-top: 5px
}
.img2{
	padding-top: 20px
}
.link{
  margin-bottom: 10px;
  font-size: 35px;
  width: 43.2%;
  text-align: right;
}
.text{
  width: 75%;
  text-align: right;
}
.linkinscri{
  width:75%;
  text-align: right;
}
.linkblue{
  color:#234e8b
}
.textblue{
  padding-top: 30px;
  color:#234e8b
}
.linkgreen{
  text-decoration: none;
  color:#6cbe45
}
.phraselink1{
	line-height: 0.9em;
}
.candid{
	padding-top: 10px
}
.phraselink2{
	line-height: 0.9em;
}
.address{
  padding: 20px;
  font-size: 30px;
  text-align: right;
  border: 7px solid #234e8b;
  width: 40%;
  height: 220px
}
.contact{
  margin-top: 10px
}
.bold{
  font-weight: bold;
}
/* fin julian*/

/*---------------------------header---------------------*/
.allimg {
  text-align: right;
}
#poleemploi
{
  float: left;
	margin-left: 203px;

}
#popschool
{
  margin-top: 30px;
  margin-right: 30px;
  padding-top:1px;
}
#up
{
  margin-top: 50px;
  text-align: right;
   font-family : Bond4F;
}
.text1
{
  color: #6cbe45;
  font-size: 100px ;
  padding-right: 120px;
  margin-bottom: 40px;
  }
.maj
{
  font-size: 170px;
  }
.bleu1
{
  color: #234e8b;
  font-size: 170px;
}
.bleu
{
  color:#234e8b;
}
.text2
{
  font-size: 70px;
  padding-right: 120px;
  padding-left: 120px;
  text-align: right;
 }


 /* FOOTER *****************************************/

.footer{
 margin:2% ;
 display: block;

}
.lien_img{
	 text-decoration: none;
}
.imgdown{
	padding:0px 5px;
	margin-left: 16px;
}

.pdown{
 float: right;
 text-align: left;
 font-family: Bond4F-UltraLight;
 font-weight: lighter;
 font-size:20px;
 margin-top: 10px;
 margin-right: 222px;

}

footer{
 background-color: #353535;
 color:white;
 text-align: center;
 padding:8px;
 text-decoration: none;
 width: 100%;
}

footer a {
 color:white;
}

/* MEDIAQUERIES FOOTER *********************/
@media screen and (min-width:737px) and (max-width:1024px){
/* début top*/
	body{
		margin: 0;
		padding: 0;
	}
	.allimg{
		margin: 0;
		padding: 0
	}
	#poleemploi{
		margin: 0;
		height: 240px;
	}
	#popschool{
		margin: 0;
		height: 240px;
	}
	.text1{
		padding-right: 0;
		font-size: 70px;
	}
	.text2{
		padding-right: 0;
		font-size: 50px
	}
	.maj{
		font-size: 90px
	}
	.bleu1{
		font-size: 90px
	}
/* fin top*/
/* bannière bleue*/
	.intbann{
		padding: 5px;
		font-size: 25px
	}
/* fin bannière bleue*/
/*partie gauche*/
	.gauche{
		margin-left: 50px;
	}
	.link{
		margin:5px;
		padding: 15px;
	}
	.phraselink1{
		font-size: 20px;
	}
	.phraselink2{
		font-size: 20px;
	}
	.address p{
		font-size: 25px;
	}
	.img1{
		margin: 0;
		padding-top: 15px;
		height: 30px;
	}
	.img2{
		margin: 0;
		padding-top: 15px;
		height: 30px;
	}
/*fin partie gauche*/
/* début partie droite*/
	.inscription{
		height: 385px
	}
	.textblue{
		padding-top: 50px;
		font-size: 30px;
	}
	.linkblue1{
		font-size: 30px;
	}
/*fin partie droite*/
/*début footer*/
	.imgdown{
		height: 40px
	}
	.footer{
		width: 670px;
	}
	.pdown{
		margin:0;
		padding:0;
		font-size: 10px;
	}
}
