
	.allimg {
		text-align: right;
		margin-top:20px;
	}
	#up {
	  margin-top: 50px;
	  text-align: right;
	  font-family : Bond4F;
	}

	.text_up {
	  color: #6cbe45;
	  font-size: 90px ;
	  padding-right: 120px;
	  margin-bottom: 40px;
	}

	.jobdate {
	  font-size: 160px;
	}

	.big3_0 {
	  color: #234e8b;
	  font-size: 160px;
	}

	.p_emploi {
	  color:#234e8b;
	}

	.date {
	 
	 }

	/* julian*/

	.font {
	  font-family: Bond4F;
	}

	.banner {
	  background-color: #234e8b;
		padding:5px 40px;
		margin:25px 0;
	}

	.inside_bann {
	  color: white;
	  font-size: 45px;
	  margin-left: 40px;
	}

	#ask_recrut {
	  text-align: right;
		line-height: 50px;
		padding-top: 10px;
	}

	#meet {
		text-align: right;
		line-height: 80px;
	}

	.left_content {
	  margin-left: 200px
	}

	.inscription {
	  color:#234e8b;
	  float: right;
	  border-top: 7px solid #6cbe45;
	  border-left: 7px solid #6cbe45;
	  font-size: 40px;
	  height: 340px;
	  width:42%
	}

	.mini_logo {
		float: right;
		padding-top: 5px;
		margin-right: 36px;
		height: 45px;
	}

	.link_formation {
	  margin-bottom: 10px;
	  font-size: 35px;
	  width: 43.2%;
	  text-align: right;
	}

	.register {
	  width: 75%;
	  text-align: right;
	}

	.link_join{
	  width:75%;
	  text-align: right;
	}

	.bit_link {
	  color:#234e8b
	}

	.join_us {
	  padding-top: 30px;
	  color:#234e8b
	}

	.link_click {
	  text-decoration: none;
	  color:#6cbe45
	}

	.p_formation {
		line-height: 0.9em;
		text-align: right;
	}

	.phraselink2 {
		line-height: 0.9em;
	}

	.address {
	  padding: 20px;
	  font-size: 30px;
	  text-align: right;
	  border: 7px solid #234e8b;
	  width: 40%;
	  height: 220px
	}

	.contact {
	  margin-top: 10px
	}

	.bold {
	  font-weight: bold;
	}
	/* fin julian*/

	 /* FOOTER *****************************************/

	.bottom_set {
	 margin:2% ;
	 display: block;
	 width:85%;
	 margin: 20px auto;
	 margin-right: 45px;

	}
	.lien_img {
		 text-decoration: none;
	}
	.imgdown {
		padding:0 6px;
		height: 63px;
	}

	.pdown {
	 float: right;
	 text-align: left;
	 font-family: Bond4F-UltraLight;
	 font-weight: lighter;
	 font-size:17px;
	 margin:0;
	 padding:0;
	}

	#content {
	display: block;
	}

	#text_footer {
	bottom: 0;
	overflow: auto;

	}

	footer {
	 background-color: #353535;
	 color:white;
	 text-align: center;
	 text-decoration: none;
	 width: 83%;
	 margin: auto;
	 display: block;
	 padding:7px;
	}

	footer a {
	 color:white;
	 width:80%;
	 margin: auto;
	}

@media screen and (max-width:767px){
  body {
      margin:0;
	}

/*HEADER ********************/

  #poleemploi {
  height:85px;
  margin:0;
  float:left;
  }

  #popschool {
      height: 85px;
      margin:0;
      float: right;
  }

  #up {
      text-align: right;
      margin:0;
      clear:both;
  }

  .text_up {
      font-size: 30px;
      padding:0;
      padding-top: 20px;
      margin-bottom: 20px;
  }

  .jobdate, .big3_0 {
      font-size: 35px;
  }

  .date {
      font-size:30px;
      padding:0;
      text-align: left;
      margin-bottom: 10px;
  }

/* MILIEU **************************/
      /*BAN BLEU */

  .banner {
      padding:7px;
  }

  .inside_bann {
      font-size: 20px;
      margin:0;
  }

	#ask_recrut {
		line-height: 20px;
	}

	#meet {
		line-height: 25px;
	}

      /*DEMI BORDUR VERT*/

  .register, .link_join {
      width:100%;
      padding:5px;
  }

  .join_us, .p_link {
      padding:0;
      width:100%;
			text-align: center;
  }

  .inscription {
      width:95%;
      height:60%;
      font-size:30px;
			margin-bottom:15px;

  }
      /*TXT ENTRE BORDUR VERT ET BLEU*/

  .img1 {
      margin:0;
      padding:0;
  }

  .left_content {
      margin:0;
  }

  .link_formation {
      width:80%;
      text-align:right;
      font-size: 30px;
  }

	.link_click {
				text-align: center;
				margin: auto 30px;
				width:80%;
			}

          /*BORDUR BLEU*/

  .address {
      margin:auto;
      padding:10px;
      width:90%;
      font-size: 23px;
  }

  .contact {
      padding:0;
      padding-top: 20px;
      margin:0;
  }

/* FOOTER ************************/
	footer {
	   height: auto;
	   bottom: 0;
	   font-size: 13px;
	   width: 85%;
		 padding:10px;

	}

	.bottom_set {
	   margin-bottom: 105px;
	}

	.bottom_set a {
	   margin-bottom: 50px;
	}

	.pdown {
	   width: 95%;
	   margin: 0;
	   display: flex;
	   font-size: 14px;
	}

	.imgdown {
		height:25px;
	}

}
/* MEDIAQUERIES FOOTER *********************/
@media screen and (min-width:768px) and (max-width:991px){
/* début top*/
	body {
		margin: 0;
		padding: 0;
	}

	.allimg {
		margin: 0;
		padding: 0;
	}

	#poleemploi {
		margin: 0;
		height: 200px;
	}

	#popschool {
		margin: 0;
		margin-top: 25px;
		height: 200px;
	}

	.text_up {
		padding-right: 0;
		font-size: 70px;
	}

	.date {
		padding-right: 0;
		font-size: 50px
	}

	.jobdate {
		font-size: 90px
	}

	.big3_0 {
		font-size: 90px
	}

/* fin top*/
/* bannière bleue*/
	.inside_bann {
		padding: 5px;
		font-size: 25px
	}

	#ask_recrut {
		line-height: 25px;
	}

	#meet {
		line-height: 30px;
	}

/* fin bannière bleue*/
/*partie gauche*/
	.left_content {
		margin-left: 50px;
	}

	.link_formation {
		margin:5px;
		padding: 15px;
	}

	.p_formation {
		font-size: 20px;
	}

	.phraselink2 {
		font-size: 20px;
	}

	.address p {
		font-size: 25px;
	}

	.img1 {
		margin: 0;
		padding-top: 15px;
		height: 30px;
	}

	.address {
			word-break: break-all;
			width:50%;
			padding:10px;
			left: 0;
		}

	.address p {
		font-size: 25px;
	}

/*fin partie gauche*/
/* début partie droite*/

	.inscription {
		height: 318px;
		width:37%;
	}

	.join_us {
		padding-top: 50px;
		font-size: 30px;
	}

	.p_link {
		font-size: 30px;
	}


/*fin partie droite*/
/*début footer*/

	.imgdown {
		padding: 0;
		margin: 0;
		height: 45px
	}

	.bottom_set {
		width: 685px;
	}

	.pdown {
		margin:0;
		padding:0;
		font-size: 13px;
		margin-right: 20px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px){
	body {
	  margin: 0;
	  padding: 0;
	}

	.allimg {
	  margin: 0;
	  padding: 0
	}

	#poleemploi {
	  margin: 0;
	  height: 265px;
	}

	#popschool {
	  margin: 0;
	  height: 265px;
	}

	.text_up {
	  padding-right: 0;
	  font-size: 90px;
	}

	.date {
	  padding-right: 0;
	  font-size: 50px
	}

	.jobdate {
	  font-size: 90px
	}

	.big3_0 {
	  font-size: 90px
	}

	/* fin top*/
	/* bannière bleue*/

	.inside_bann {
	  padding: 5px;
	  font-size: 38px
	}

	#ask_recrut {
		line-height: 35px;
	}

	#meet {
		line-height: 40px;
	}

	/* fin bannière bleue*/
	/*partie gauche*/

	.left_content {
	  margin-left: 50px;
	}

	.link_formation {
	  margin:5px;
	  padding: 15px;
	}

	.p_formation {
	  font-size: 25px;
	}

	.phraselink2 {
	  font-size: 25px;
	}

	.address p {
	  font-size: 30px;
	}

	.address {
		height:240px;
	}

	.img1 {
	  margin: 0;
	  padding-top: 15px;
	  height: 30px;
	}

	/*fin partie gauche*/
	/* début partie droite*/

	.inscription {
	  height: 365px
	}

	.join_us {
	  padding-top: 50px;
	  font-size: 40px;
	}

	.p_link {
	  font-size: 40px;
	}

	/*fin partie droite*/
	/*début footer*/

	.imgdown {
	  height: 40px
	}

	.pdown {
	  margin:0;
	  padding:0;
	  font-size: 13px;
	}
}

@media screen and (min-width: 1200px){
	.link_formation {
		width:50%;
		font-size: 30px;
		text-align: left;
	}

	.link_click {
	font-size: 30px;
	}

	.imglogo {
		margin-right: 50px;
	}

	.inscription {
		width:40%;
		height:352px;
	}

	.address {
		width:40%;
		height:240px;
	}

	.pdown {
		font-size: 15px;
		display: inline-block;
	}

	.imgdown {
		height: 50px;
	}
}
